body {
    background-color: #e3fdfd
}
h1,h3{
    color: #71c9ce;
}
hr {
    border-top-style: dotted;
    background-color: #e3fdfd;
    color: gray;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;

    border-width: 10px;
    width: 10%;
}